<%= form_for(@order, :html => { :class => "form-horizontal" }) do |f| %>
  <% if @order.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h4>
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => "form-control", value: current_user.username %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :address, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :company, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :company, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :city, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :country, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.country_code_select(:country) %>
    </div>
  </div>
    <div class="form-group">
    <%= f.label :zipcode, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :zipcode, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
