
				<table class="table">
				<th>Title</th>
				<th>Unit price</th>
				<th>Qty</th>
				<th></th>
				<th></th>
				<th>Price</th>
				<%=render(cart.line_items)%>
				</table>
				<table class="table" id="cart">
				<tr>
				<td></td>
				<td></td>
				<td><h5 align="right">Total:</h5></td>
				<td></td>
				<td><h5 class="total-price"><%=number_to_currency(@cart.total)%></h5></td>
				</tr>
 
</table>
 <div class="modal-footer">
        <%= link_to "Empty Cart", @cart, method: :delete, confirm: "Are you sure?", :class => "btn btn-warning"%>
       <!-- <%= link_to image_tag("paypal-button.png"), @cart.paypal_url(store_url, payment_notifications_url)%>!-->
       <%= link_to "CheckOut", new_order_path%>

      </div>
s