
<div class="container">
	<div class="form-signin">
		<h2 class="form-signin-header">Sign in</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>

		  <%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Email Address" %>
		 
		  <%= f.password_field :password, :class => "form-control" , :placeholder => "password"%>
		  
		  <% if devise_mapping.rememberable? -%>
		    <%= f.check_box :remember_me %> <%= f.label :remember_me %>
		  <% end -%>
		 

			
		  <%= f.submit "Sign in", :class => "btn btn-lg btn-primary btn-block"%>
		  <br>
		  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
 	 	<%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
		<% end -%>
		<% end %>

	</div>
	
</div>

<hr>