
<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Free Ebooks download here!</span></h2>
          <p class="lead">Note: You need to sign up for being able to download ebooks. Click button below to register.</p>
         <%= link_to "Register Here!", '', class: "btn btn-primary btn-lg" %>
        </div>
        <div class="col-md-5">
         <%= image_tag("header.jpg", class: "featurette-image img-responsive")%>
      </div>
<div class="navbar-wrapper">
      

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Ebookie</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><%=link_to 'Home', store_url%></li>
                <li><%= link_to "Pro EBooks", store_url%></li>
                <li><%= link_to "Free Ebooks", free_index_path%></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                
              </ul>
                <!--User notification!-->
                <% if user_signed_in?%> 
                  <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate(current_user.email, :length => 8)%> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                </ul>
                <%elsif admin_signed_in?%>
                    <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate(current_admin.email, :length => 11)%> <b class="glyphicon glyphicon-cog"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete%></li>
                    <li><%= link_to 'Create Product', new_product_path%></li>
                    <li><%= link_to 'List products', products_path %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Customer info</li>
                    <li><%= link_to 'List order', ''%></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                </ul>

                
                <% end %>
                <!-- end user notification !-->
              <ul class="nav navbar-nav navbar-right">
                <li  class="dropdown " data-toggle="tooltip" title="Click to see cart info">
                  <a href="#" data-toggle="modal" data-target="#myModal">
          

                  <ul class="dropdown-menu">
                   
                   
                    <li class="divider"></li>
                
                    <li><a href="#">---------------------------------------------------</a></li>
                  </ul>
                </li>
              </ul>
                
            </div>
          </div>
        </div>
    </div>
<!-- End navbar !-->


  <div class="container marketing">

      <!-- Three columns of text below the carousel -->

    <div id="book" class="row">

<%@free_books.each do |book|%>
        <div class="col-lg-4">
      <%= link_to image_tag(book.photo.url, :class => 'img-thumbnail'), ''%>
          <h4><%=book.title%></h4>
          <p><%=truncate(book.description, length: 120)%></p>
          <br>
          <strong>&nbsp;<%=book.status%></strong>
          <br><br>
              &nbsp;&nbsp;&nbsp; <%=link_to 'Download', '', :class => "btn btn-default btn-xs"%>
        </div><!-- /.col-lg-4 -->

        <% end %>
      <div class="col-lg-12 pull-right">

</div>
     
	  </div><!-- /.row -->

      </div><!-- /.row -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->