<%= render 'layouts/navigation'%>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<div class="container">
	<div class="row well">
		<div class="col-md-2">
    	    <ul class="nav nav-pills nav-stacked well">
              <li class="active"><%=link_to "Home", user_profile_url, class: 'fa fa-home'%></li>
              <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
              <li><%= link_to 'Logout', destroy_user_session_path, method: :Delete, confirm: "Are you sure?", class: 'fa fa-sign-out'%></li>
            </ul>
        </div>
        <div class="col-md-10">
                <div class="panel">
                    <img class="pic img-circle" src="http://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/twDq00QDud4/s120-c/photo.jpg" alt="...">
                    <div class="name"><small><%= current_user.email%></small></div>
                    <a href="#" class="btn btn-xs btn-primary pull-right" style="margin:10px;"><span class="glyphicon glyphicon-picture"></span> Change cover</a>
                </div>
                
    <br><br><br>
  
    </div>
  </div>
</div>

<hr>
<%@user.orders.each do |order|%>
<% if order.purchased_at?%>
  <%order.line_items.each do |item|%>

  <div class="col-sm-3">
                            <div class="col-item">
                                <div class="photo">
                                    <%= image_tag(item.product.image_url, :class => 'img-thumbnail')%>
                                </div>
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-6">
                                            <h5>
                                                <%=item.product.title%></h5>
                                            <h5 class="price-text-color">
                                                <%= number_to_currency(item.product.price)%></h5>
                                        </div>
                                        <div class="rating hidden-sm col-md-6">
                                         
                                        &nbsp;&nbsp;&nbsp; <%=link_to 'Download', item.product.pdf.url, :class => "btn btn-default btn-xs"%>
                                         
                                        </div>
                                    </div>
                                   
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                </div>
                  <%end%>
                  <%end%>
<%end%>