<%= form_for(@free_ebook, :html => { :multipart => true, :class => "form-horizontal"}) do |f| %>
  <% if @free_ebook.errors.any? %>
    <div class="alert alert-danger alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <h4><%= pluralize(@free_ebook.errors.count, "error") %> prohibited this free_ebook from being saved:</h4>

      <ul>
      <% @free_ebook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :title, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_area :description, :class => "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :UploadPhoto, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.file_field :photo%>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, :class => "col-lg-2 control-label" %>
    <div class="col-lg-10">
      <%= f.text_field :status, :class => "form-control", readonly: true %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
