<div class="page-header">
  <%= link_to new_free_ebook_path, :class => 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Free ebook
  <% end %>
  <h1>Listing free_ebooks</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>User</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @free_ebooks) do |free_ebook| %>
            <td><%= free_ebook.title %></td>
            <td><%= free_ebook.description %></td>
            <td><%= free_ebook.status %></td>
            <td><%= free_ebook.user %></td>
            <td><%= link_to 'Show', free_ebook %></td>
        <td><%= link_to 'Edit', edit_free_ebook_path(free_ebook) %></td>
        <td><%= link_to 'Destroy', free_ebook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
