<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Your cart</h4>
      </div>
      <div class="modal-body " id="cart">
             <%= render @cart%>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
    
      <!-- Wrapper for slides -->
      <div class="carousel-inner">
      
        <div class="item active">
          <%= image_tag('pic1-banner.jpg')%>
           <div class="carousel-caption">
            <h3>Technology and Accounting Center(TAC)</h3>
          <p></p>
          </div>
        </div><!-- End Item -->
 
         <div class="item">
          <img src="http://placehold.it/1200x400/999999/cccccc">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/1200x400/dddddd/333333">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. <a href="http://sevenx.de/demo/bootstrap-carousel/" target="_blank" class="label label-danger">Bootstrap 3 - Carousel Collection</a></p>
          </div>
        </div><!-- End Item -->
        
        <div class="item">
          <img src="http://placehold.it/1200x400/999999/cccccc">
           <div class="carousel-caption">
            <h3>Headline</h3>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
          </div>
        </div><!-- End Item -->
                
      </div><!-- End Carousel Inner -->


      <ul class="nav nav-pills nav-justified">
          <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small>our School</small></a></li>
          <li data-target="#myCarousel" data-slide-to="1"><a href="#">Projects<small>Lorem ipsum dolor sit</small></a></li>
          <li data-target="#myCarousel" data-slide-to="2"><a href="#">Portfolio<small>Lorem ipsum dolor sit</small></a></li>
          <li data-target="#myCarousel" data-slide-to="3"><a href="#">Services<small>Lorem ipsum dolor sit</small></a></li>
        </ul>


    </div><!-- End Carousel -->
</div>
<div class="container">
  <div class="row featurette">
<div class="navbar-wrapper">
      

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">TAC</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li ><%=link_to store_url do %>
                <i class="fa fa-home"></i> Home
                <% end %>
                </li>
                <li><%= link_to store_url do %>
                    <i class="fa fa-book"></i> Pro Ebook
                    <% end %>
                </li>

                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>

              </ul>
              
                <!--User notification!-->
                <% if user_signed_in?%> 
                  <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate(current_user.email, :length => 8)%> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                     <li><%= link_to 'Logout', destroy_user_session_path, method: :delete%></li>
                    <li><%= link_to 'User Home', user_profile_url%></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                </ul>
                <%elsif admin_signed_in?%>
                    <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate(current_admin.email, :length => 11)%> <b class="glyphicon glyphicon-cog"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete%></li>
                    <li><%= link_to 'Create Product', new_product_path%></li>
                    <li><%= link_to 'Create FreeBooks', new_free_ebook_path%></li>
                    <li><%= link_to 'List products', products_path %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Customer info</li>
                    <li><%= link_to 'List order', ''%></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                </ul>

                
                <% end %>
                <!-- end user notification !-->
              <ul class="nav navbar-nav navbar-right">
                <li  class="dropdown " data-toggle="tooltip" title="Click to see cart info">
                  <a href="#" data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-shopping-cart cart-text" id="cart" ><%= render "layouts/total_price"%></span>
                  <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                   
                   
                    <li class="divider"></li>
                
                    <li><a href="#">---------------------------------------------------</a></li>
                  </ul>
                </li>
                <li><%= link_to user_profile_url do %>
                <i class="fa fa-download"></i> My Ebook
                <% end %>
                </li>
                <% if !signed_in?%>
                <li><%= link_to 'Register', new_user_registration_path%></li>
                <li><%= link_to new_user_session_path do %>
                <i class="fa-sign-in"></i> Login
                <% end %>
                </li>
                <%end%>
              </ul>
                
            </div>
          </div>
        </div>
    </div>
<!-- End navbar !-->


  <div class="container marketing">
 <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>
     <hr class="featurette-divider">
      <!-- Three columns of text below the carousel -->

    <div id="products" class="row">
    <%= render "products"%>
     
	  </div><!-- /.row -->

      </div><!-- /.row -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
     

    </div><!-- /.container -->

<div class="container">
    <div class="row">
      <div class="col-lg-12">
          <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Github</li>
                  <li><a href="#">About Us</a></li>
                   <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact & Support</a></li>
                     <li><a href="#">Enterprise</a></li>
                      <li><a href="#">Site Status</a></li>
              </ul>
          </div>
           <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Github</li>
                  <li><a href="#">About Us</a></li>
                   <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact & Support</a></li>
                     <li><a href="#">Enterprise</a></li>
                      <li><a href="#">Site Status</a></li>
              </ul>
          </div>
           <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Github</li>
                  <li><a href="#">About Us</a></li>
                   <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact & Support</a></li>
                     <li><a href="#">Enterprise</a></li>
                      <li><a href="#">Site Status</a></li>
              </ul>
          </div>
           <div class="col-md-3">
              <ul class="list-unstyled">
                  <li>Github</li>
                  <li><a href="#">About Us</a></li>
                   <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact & Support</a></li>
                     <li><a href="#">Enterprise</a></li>
                      <li><a href="#">Site Status</a></li>
              </ul>
          </div>
      </div>
  </div>
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Tac, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
  </div>