
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel"><span class="glyphicon glyphicon-shopping-cart"></span>&nbsp;Your cart</h4>
      </div>
      <div class="modal-body " id="cart">
             <%= render @cart%>
      </div>
     
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"><span class="text-muted">Welcome to Battambang Ebook Website!</span></h2>
          <p class="lead">This is our first project built with Ruby on Rails web development framework. And we just want to announce that if everyone want to know clearly what is Ruby on Rails please visit the ruby on rails homepage <%=link_to 'Rails Khmer', "http://www.railskhmer.us", :target => "blank"%>.</p>
        </div>
        <div class="col-md-5">
         <%= image_tag("header.jpg", class: "featurette-image img-responsive")%>
      </div>
<div class="navbar-wrapper">
      

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Ebookie</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><%=link_to 'Home', store_url%></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" >Dropdown <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                
              </ul>
                <!--User notification!-->
                <% if user_signed_in?%> 
                  <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate(current_user.email, :length => 8)%> <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                </ul>
                <%elsif admin_signed_in?%>
                    <ul class="nav navbar-nav navbar-right">
                  <li class="dropdown" >
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= truncate(current_admin.email, :length => 11)%> <b class="glyphicon glyphicon-cog"></b></a>
                  <ul class="dropdown-menu">
                    <li><%= link_to 'Logout', destroy_admin_session_path, method: :delete%></li>
                    <li><%= link_to 'Create Product', new_product_path%></li>
                    <li><%= link_to 'List products', products_path %></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Customer info</li>
                    <li><%= link_to 'List order', ''%></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
                </ul>

                
                <% end %>
                <!-- end user notification !-->
              <ul class="nav navbar-nav navbar-right">
                <li  class="dropdown " data-toggle="tooltip" title="Click to see cart info">
                  <a href="#" data-toggle="modal" data-target="#myModal">
                  <span class="glyphicon glyphicon-shopping-cart cart-text" id="cart" ><%= render "layouts/total_price"%></span>
                  <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                   
                   
                    <li class="divider"></li>
                
                    <li><a href="#">---------------------------------------------------</a></li>
                  </ul>
                </li>
              </ul>
                
            </div>
          </div>
        </div>
    </div>
<!-- End navbar !-->


  <div class="container marketing">

      <!-- Three columns of text below the carousel -->

    <div id="products" class="row">
    <%= render "products"%>
     
	  </div><!-- /.row -->

      </div><!-- /.row -->
      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
          <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->

